body{
box-sizing: border-box;
width: 100%;
}

.error{
display: none;
}

.breed-select{
display: none;
}


.cat-info{
    display: flex;
    gap:40px;
    text-align:left;
    padding-right: 40px;
    padding-top: 40px;
}

